@charset "utf-8";
/* Import Rules */
@import url("reset.css");
@import url("pretendard.css");

html {height: 100%;}

body {margin: 0; padding: 0; font-size: 100%;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	line-height: 1.125; font-size: 14px; font-weight: 400; WindowText; background-color: Window;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body{
    background: #f3f3f3;
    height: 100%;
}

.container{
    width: 100%;
    min-height: 500px;
    background: #fff;
    text-align: right;
}

/* ---------------- PC Layout ---------------- */

.illustration-wrap{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.illu-img{
    width: 80%;
}

.login-section{
    width: 500px;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: right;
}

.logo{
    width: 140px;
    margin-bottom: 10px;
    margin: 0 auto;
}
.login-logo {
    width: 140px;
    margin: 0 auto;
}

h2.title{
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #0090d4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2.title:before{
    content:"";
    width: 125px;
    height: 42px;
    display: flex;
    background-image: url(../images/login_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    background-size: 122px 40.22px;
}


.input-group{
    margin-bottom: 8px;
}

.input-group input{
    width: 100%;
    padding: 12px 12px 12px 56px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    font-size: 16px;
}
.input-group input.user-id{
    background-image: url(../images/login_id.jpg);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 19.2px 19px;
    outline: 0;
}
.input-group input.user-pw{
    background-image: url(../images/login_pw.jpg);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 15px 20px;
    outline: 0;
}
.input-group input::placeholder {
  color: #999; 
  font-size: 14px;
  opacity: 1;
}

.login-btn{
    width: 100%;
    background: #0e1a60;
    border: none;
    padding: 16px;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
}

.login-btn:hover{
    opacity: 0.9;
}

.notice{
    margin: 20px 20px;
    font-size: 13px;
    text-align: left;
    padding: 0 20px;
    color: #555;
    display: flex;
    align-items: flex-start;
    line-height: 1.4;
    
    background-image: url(../images/icon_notice.jpg);
    background-repeat: no-repeat;
    background-position: left 1px;
    background-size: 15px 15px;
}


.icon{
    margin-right: 6px;
    font-size: 15px;
}

/* ---------------- Mobile Layout ---------------- */
/* PC 버전 박스 형태 적용 */
@media (min-width: 769px) {
    body{
        background: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container{
        width: 950px;
        height: 500px;
        border: 0px solid #d4d7e0; 
        border-radius: 18px; 
        box-shadow: 0 6px 20px rgba(0,0,0,0.08);
        overflow: hidden;
        background: white;
        background-image: url(../images/login_bg.png);
        background-repeat: no-repeat;
        background-position: -118px center;
        background-size: 64%;
    }

}


@media (max-width: 768px){
    body {
        background: transparent;
        /* background-image: url(../images/login_bg.png); */
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
        background-color: #eeeef0;
    }

    .container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background: transparent;
    }

    .illustration-wrap{
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .illu-img{
        width: 90%;
    }
    h2.title {
        font-size: 28px;
        margin-bottom: 0px;
        font-weight: 700;
        color: #0090d4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-section{
        width: 100%;
        max-width: 400px;
        padding: 80px 20px;
        text-align: center;
    }

    .input-group:first-child:before {
        content: "";
        width: 100%;
        height: 160px;
        display: flex;
        background-image: url(../images/login_bg.png);
        background-repeat: no-repeat;
        background-position: center bottom -40px;
        background-size: 230px;
    }

    .input-group input{
        padding: 16px 12px 16px 56px;
        font-size: 14px;
    }

    .login-btn{
        font-size: 18px;
        padding: 18px;
    }

    h2.title{
        font-size: 24px;
    }
}
